*{
  margin:0;
}
body{
  background-color: #f5f6fa;
}
.app{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.app-header{
  display: flex;
  justify-content:  space-between;
  align-items: center;
  margin-bottom: 20px;
}
.app-title{
  font-size:29px;
}
.div-app-stats{
  display: flex;
  justify-content: space-between;
}
@media(max-width:990px){
  .app{
    flex-direction: column;
  }
}

.app-left{
  flex: 0.9;
}
.app-credit{
  font-size: 18px;
}
.app-credit-link{
  font-size: 18px;
  text-decoration: none;
  color: rgb(13, 105, 224);
}